<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="packagesToScan">
			<list>
				<value>com.jnrcorp.gtfs.dao.model</value>
	     	</list>	
		</property>
        <property name="hibernateProperties">
		<props>
			<prop key="hibernate.show_sql">false</prop>
			<prop key="hibernate.format_sql">false</prop>
			<prop key="hibernate.use_sql_comments">false</prop>			
			<prop key="hibernate.connection.autocommit">false</prop>
			<prop key="hibernate.jdbc.batch_size">1000</prop>
			<prop key="hibernate.order_inserts">true</prop>
			<prop key="hibernate.order_updates">true</prop>
			<prop key="hibernate.id.new_generator_mappings">false</prop>
		</props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

</beans>
